<!DOCTYPE html>
<html>
  <head>
    <title>TweetableAppPractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <%=link_to "Sign in", new_user_session_path%>
    <%=link_to "Sign up", new_user_registration_path%>
    <%=link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }%>
    
  </header>
  <body>
    <%=notice%>
    <%=alert%>
    <%= yield %>
  </body>
</html>
